@use "../core/variables";

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  padding: 15px 20px;

  &__perfume{
    font-size: 12px;
    font-weight: 500;
    color: variables.$neutral-dark;
  }

  &__perfume-name{
    font-size: 22px;
    font-weight: 700;
    font-family: variables.$title-font;
  }

  &__perfume-description{
    margin: 5px 0;
    font-weight: 500;
    color: variables.$neutral-dark;
    font-size: 12px;
  }

  &__price-container {
    display: flex;
    gap:10px;
    align-items: center;

    & :nth-child(1){
      color: variables.$primary-dark;
      font-size: 20px;
      font-weight: 700;
      font-family: variables.$title-font;
    } 

    & :nth-child(2){
      color: variables.$neutral-dark;
      text-decoration: line-through;
      font-size: 12px;
    } 
  }

  &__cart-button{
    color: variables.$neutral-white;
    background-color: variables.$primary-dark;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 0;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & span{
    }
  }

}

