@use "../core/variables";

.main-container {
  background-color: variables.$neutral-white;
  display: flex;
  flex-direction: column;

  margin: 25px 15px;
  border-radius: 20px;

  & picture :first-child{
    object-fit: cover;
      border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  }
  & picture :nth-child(2){
    display: none;
      border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  }
}

@media (min-width: 768px){
  body{
    display: flex;
    justify-content: center;
  }
  .main-container{
    width: 500px;
    flex-direction: row;
    margin: 125px 300px;

    & picture :first-child{
      display:none;
    }
    & picture :nth-child(2){
      border-top-right-radius: 0%;
      border-bottom-left-radius: 20px;
      object-fit: cover;
      display: block;
    }
  }
}




